.frame-child71,
.frame342 {
  position: absolute;
  height: 306.1px;
}
.frame-child71 {
  top: 0;
  left: 36.8px;
  border-radius: 25.09px;
  background-color: var(--color-gray-900);
  border: 0.8px solid var(--wwwjustdialcom-nero);
  box-sizing: border-box;
  width: 239.2px;
}
.frame342 {
  top: 95.4px;
  left: 0;
  width: 276px;
  overflow: hidden;
}
.kisspng-chow-mein-chinese-nood-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 234.2px;
  object-fit: cover;
}
.chinese-yakisbo7 {
  position: absolute;
  top: 216.6px;
  left: 1003.4px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.frame-child72 {
  position: absolute;
  top: 337.1px;
  left: 207.4px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 45.2px;
  height: 45.2px;
}
.kisspng-chow-mein-chinese-nood-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 382px;
}
.frame341 {
  top: 0;
  left: 0;
  height: 402px;
  overflow: hidden;
}
.frame-parent38,
.frame340,
.frame341 {
  position: absolute;
  width: 312px;
}
.frame-parent38 {
  top: 0;
  left: 0;
  filter: drop-shadow(-11px 13px 90px rgba(0, 0, 0, 0.25) inset);
  height: 401.5px;
}
.frame340 {
  top: -0.5px;
  left: 290px;
  height: 410.5px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl-7);
  color: var(--color-black);
  font-family: var(--font-satoshi-variable);
}
