.frame-child66,
.frame326 {
  position: absolute;
  height: 306.1px;
}
.frame-child66 {
  top: 0;
  left: 36.8px;
  border-radius: 25.09px;
  background-color: var(--color-gray-900);
  border: 0.8px solid var(--wwwjustdialcom-nero);
  box-sizing: border-box;
  width: 239.2px;
}
.frame326 {
  top: 95.4px;
  left: 0;
  width: 276px;
  overflow: hidden;
}
.kisspng-chow-mein-chinese-nood-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 234.2px;
  object-fit: cover;
}
.chinese-yakisbo5 {
  position: absolute;
  top: 216.6px;
  left: 1003.4px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.frame-child67 {
  position: absolute;
  top: 337.1px;
  left: 207.4px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 45.2px;
  height: 45.2px;
}
.kisspng-chow-mein-chinese-nood-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 382px;
}
.frame-child68,
.frame325,
.frame329 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 402px;
  overflow: hidden;
}
.frame-child68,
.frame329 {
  left: 37px;
  width: 192px;
  height: 24px;
}
.frame329 {
  left: 0;
  width: 229px;
}
.chinese-yakisbo6 {
  position: absolute;
  top: 0;
  left: 68px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.frame328,
.frame330 {
  width: 231px;
  overflow: hidden;
}
.frame330 {
  position: absolute;
  top: 1px;
  left: 0;
  height: 29px;
}
.frame328 {
  position: relative;
  height: 30px;
  flex-shrink: 0;
}
.frame-child69,
.frame332 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 184px;
  height: 41px;
  overflow: hidden;
}
.frame332 {
  left: 0;
  width: 221px;
}
.amet-minim-mollit3 {
  position: absolute;
  top: 0;
  left: 77.8px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 145.5px;
}
.frame331,
.frame333 {
  width: 223.3px;
  overflow: hidden;
}
.frame333 {
  position: absolute;
  top: 1.9px;
  left: 0;
  height: 42px;
}
.frame331 {
  position: relative;
  height: 43.9px;
  flex-shrink: 0;
  font-size: var(--font-size-3xs);
}
.div17 {
  position: absolute;
  top: 4px;
  left: 20px;
  letter-spacing: 0.01em;
}
.wrapper3 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 136px;
  height: 18px;
  overflow: hidden;
}
.frame335,
.mask-group-icon20 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame335 {
  width: 173px;
  height: 18px;
  overflow: hidden;
}
.mask-group-icon20 {
  width: 14.5px;
  height: 14.5px;
  object-fit: cover;
}
.mask-group-icon21,
.mask-group-icon22,
.mask-group-icon23,
.mask-group-icon24 {
  position: absolute;
  top: 0;
  left: 20.3px;
  width: 14.5px;
  height: 14.5px;
  object-fit: cover;
}
.mask-group-icon22,
.mask-group-icon23,
.mask-group-icon24 {
  left: 40.7px;
}
.mask-group-icon23,
.mask-group-icon24 {
  left: 61px;
}
.mask-group-icon24 {
  left: 81.3px;
}
.mask-group-parent2 {
  position: absolute;
  top: 0;
  left: 77.8px;
  width: 95.8px;
  height: 14.5px;
}
.frame334,
.frame336 {
  width: 173.6px;
  overflow: hidden;
}
.frame336 {
  position: absolute;
  top: 3px;
  left: 0;
  height: 14.5px;
}
.frame334 {
  position: relative;
  height: 18px;
  flex-shrink: 0;
  font-size: var(--font-size-3xs);
  color: var(--color-goldenrod);
}
.frame-icon7 {
  position: absolute;
  top: 9.6px;
  left: 0;
  width: 252px;
  height: 47px;
  overflow: hidden;
}
.div18 {
  width: 61.9px;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  height: 27.6px;
  flex-shrink: 0;
}
.frame339 {
  width: 137.2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame-child70 {
  width: 98px;
  position: undefined;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 37px;
  margin-top: -26px;
}
.frame338 {
  position: absolute;
  top: 0;
  left: 0;
  width: 137.2px;
  height: 27.6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame337 {
  width: 252px;
  position: relative;
  height: 56.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame327 {
  position: absolute;
  top: 212px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-parent37,
.frame324 {
  position: absolute;
  width: 312px;
}
.frame-parent37 {
  top: 0;
  left: 0;
  filter: drop-shadow(-11px 13px 90px rgba(0, 0, 0, 0.25) inset);
  height: 401.5px;
}
.frame324 {
  top: 0.5px;
  left: 602px;
  height: 408.5px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl-7);
  color: var(--color-black);
  font-family: var(--font-satoshi-variable);
}
