.frame-child60,
.frame305 {
  position: absolute;
  height: 306.1px;
}
.frame-child60 {
  top: 0;
  left: 36.8px;
  border-radius: 25.09px;
  background-color: var(--color-gray-900);
  border: 0.8px solid var(--wwwjustdialcom-nero);
  box-sizing: border-box;
  width: 239.2px;
}
.frame305 {
  top: 95.4px;
  left: 0;
  width: 276px;
  overflow: hidden;
}
.kisspng-chow-mein-chinese-nood-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 234.2px;
  object-fit: cover;
}
.chinese-yakisbo3 {
  position: absolute;
  top: 216.6px;
  left: 1003.4px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.frame-child62 {
  position: absolute;
  top: 337.1px;
  left: 207.4px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 45.2px;
  height: 45.2px;
}
.kisspng-chow-mein-chinese-nood-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 382px;
}
.frame-child63,
.frame306,
.frame311 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1166.4px;
  height: 401.5px;
  overflow: hidden;
}
.frame-child63,
.frame311 {
  left: 37px;
  width: 192px;
  height: 24px;
}
.frame311 {
  left: 0;
  width: 229px;
}
.chinese-yakisbo4 {
  position: absolute;
  top: 0;
  left: 68px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.frame-child64,
.frame310,
.frame312,
.frame314 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 231px;
  height: 29px;
  overflow: hidden;
}
.frame-child64,
.frame310,
.frame314 {
  top: 0;
  height: 30px;
}
.frame-child64,
.frame314 {
  left: 37px;
  width: 184px;
  height: 41px;
}
.frame314 {
  left: 0;
  width: 221px;
}
.amet-minim-mollit2 {
  position: absolute;
  top: 0;
  left: 77.8px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 145.5px;
}
.frame313,
.frame315 {
  position: absolute;
  top: 1.9px;
  left: 0;
  width: 223.3px;
  height: 42px;
  overflow: hidden;
}
.frame313 {
  top: 37px;
  height: 43.9px;
  font-size: var(--font-size-3xs);
}
.frame309 {
  width: 231px;
  position: relative;
  height: 80.9px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-icon6 {
  position: absolute;
  top: 9.6px;
  left: 0;
  width: 252px;
  height: 47px;
  overflow: hidden;
}
.div15 {
  position: absolute;
  top: 0;
  left: 75.3px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 61.9px;
  height: 27.6px;
}
.frame-child65,
.frame317,
.frame318,
.frame320 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 98px;
  height: 27px;
  overflow: hidden;
}
.frame317,
.frame318,
.frame320 {
  top: 0.6px;
  left: 0;
  width: 135px;
}
.frame317,
.frame318 {
  top: 0;
  width: 137.2px;
  height: 27.6px;
}
.frame317 {
  top: 26.4px;
  width: 252px;
  height: 56.6px;
}
.div16 {
  position: absolute;
  top: 4px;
  left: 20px;
  letter-spacing: 0.01em;
}
.wrapper2 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 136px;
  height: 18px;
  overflow: hidden;
}
.frame322,
.mask-group-icon15 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame322 {
  width: 173px;
  height: 18px;
  overflow: hidden;
}
.mask-group-icon15 {
  width: 14.5px;
  height: 14.5px;
  object-fit: cover;
}
.mask-group-icon16,
.mask-group-icon17,
.mask-group-icon18,
.mask-group-icon19 {
  position: absolute;
  top: 0;
  left: 20.3px;
  width: 14.5px;
  height: 14.5px;
  object-fit: cover;
}
.mask-group-icon17,
.mask-group-icon18,
.mask-group-icon19 {
  left: 40.7px;
}
.mask-group-icon18,
.mask-group-icon19 {
  left: 61px;
}
.mask-group-icon19 {
  left: 81.3px;
}
.frame321,
.frame323,
.mask-group-parent1 {
  position: absolute;
  top: 0;
  left: 77.8px;
  width: 95.8px;
  height: 14.5px;
}
.frame321,
.frame323 {
  top: 3px;
  left: 0;
  width: 173.6px;
  overflow: hidden;
}
.frame321 {
  top: 0;
  height: 18px;
  font-size: var(--font-size-3xs);
  color: var(--color-goldenrod);
}
.frame316 {
  width: 252px;
  position: relative;
  height: 83px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame308 {
  position: absolute;
  top: 212px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-parent36 {
  position: absolute;
  top: 0;
  left: 312px;
  filter: drop-shadow(-11px 13px 90px rgba(0, 0, 0, 0.25) inset);
  width: 312px;
  height: 401.5px;
}
.frame304 {
  position: absolute;
  top: 0;
  left: 0;
  width: 624px;
  height: 402px;
  overflow: hidden;
}
.frame-parent35 {
  position: absolute;
  top: -0.7px;
  left: 332px;
  filter: drop-shadow(-11px 13px 90px rgba(0, 0, 0, 0.25) inset);
  width: 312px;
  height: 401.5px;
  text-align: left;
  font-size: var(--font-size-2xl-7);
  color: var(--color-black);
  font-family: var(--font-satoshi-variable);
}
