.products4 {
  position: undefined;
  line-height: 131.9%;
  width: 34px;
  margin-top: 5px;
}
.frame-child53 {
  width: 239.2px;
  position: relative;
  border-radius: 25.09px;
  background-color: var(--color-gray-900);
  border: 0.8px solid var(--wwwjustdialcom-nero);
  box-sizing: border-box;
  height: 306.1px;
}
.frame272,
.frame273 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame273 {
  width: 276px;
  align-items: flex-end;
  justify-content: center;
  margin-top: -286px;
}
.frame272 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1166.4px;
  height: 401.5px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-871xl-4) 0 0;
  box-sizing: border-box;
}
.frame-child54 {
  width: 192px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame277 {
  width: 229px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.chinese-yakisbo1 {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.frame278 {
  width: 231px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: -23px;
}
.frame-child55,
.frame276 {
  overflow: hidden;
  flex-shrink: 0;
}
.frame276 {
  width: 231px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-child55 {
  width: 184px;
  position: relative;
  height: 41px;
}
.frame280 {
  width: 221px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.amet-minim-mollit {
  width: 145.5px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
}
.frame275,
.frame279,
.frame281 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame281 {
  width: 223.3px;
  align-items: flex-end;
  justify-content: center;
  margin-top: -39px;
}
.frame275,
.frame279 {
  flex-shrink: 0;
  align-items: flex-start;
}
.frame279 {
  width: 223.3px;
  height: 43.9px;
  justify-content: flex-end;
  font-size: var(--font-size-3xs);
}
.frame275 {
  width: 231px;
  height: 80.9px;
  justify-content: center;
  gap: var(--gap-6xs);
}
.div11 {
  position: relative;
  letter-spacing: 0.01em;
}
.frame284,
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 136px;
  height: 18px;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame284 {
  width: 173px;
  align-items: flex-end;
  justify-content: center;
}
.mask-group-icon5,
.mask-group-icon6,
.mask-group-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.5px;
  height: 14.5px;
  object-fit: cover;
}
.mask-group-icon6,
.mask-group-icon7 {
  left: 20.3px;
}
.mask-group-icon7 {
  left: 40.7px;
}
.mask-group-icon8 {
  left: 61px;
  width: 14.5px;
  object-fit: cover;
}
.mask-group-group,
.mask-group-icon8,
.mask-group-icon9 {
  position: absolute;
  top: 0;
  height: 14.5px;
}
.mask-group-icon9 {
  left: 81.3px;
  width: 14.5px;
  object-fit: cover;
}
.mask-group-group {
  left: 77.8px;
  width: 95.8px;
}
.frame283,
.frame285 {
  width: 173.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame285 {
  position: relative;
  height: 14.5px;
  margin-top: -15px;
}
.frame283 {
  height: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs-6);
  box-sizing: border-box;
}
.frame-icon4 {
  position: absolute;
  top: 9.6px;
  left: 0;
  width: 252px;
  height: 47px;
  overflow: hidden;
}
.div12 {
  position: absolute;
  top: 0;
  left: 75.3px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 61.9px;
  height: 27.6px;
}
.frame-child56,
.frame287,
.frame289 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 98px;
  height: 27px;
  overflow: hidden;
}
.frame287,
.frame289 {
  top: 0.6px;
  left: 0;
  width: 135px;
}
.frame287 {
  top: 0;
  width: 137.2px;
  height: 27.6px;
}
.frame286 {
  width: 252px;
  position: relative;
  height: 56.6px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-2xl-7);
  color: var(--color-black);
}
.frame274,
.frame282 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame282 {
  width: 252px;
  height: 83px;
  flex-shrink: 0;
  gap: var(--gap-5xs);
  font-size: var(--font-size-3xs);
  color: var(--color-goldenrod);
}
.frame274 {
  position: absolute;
  top: 212px;
  left: 0;
  gap: var(--gap-7xs);
}
.frame-parent34 {
  width: 312px;
  position: relative;
  filter: drop-shadow(-11px 13px 90px rgba(0, 0, 0, 0.25) inset);
  height: 401.5px;
  margin-left: -68px;
  font-size: var(--font-size-2xl-7);
  color: var(--color-black);
  font-family: var(--font-satoshi-variable);
}
.frame271 {
  width: 332px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 406.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper34,
.frame270 {
  display: flex;
  align-items: center;
}
.frame-wrapper34 {
  width: 332px;
  flex-direction: column;
  justify-content: center;
}
.frame270 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 406.5px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
  font-family: var(--font-lato);
}
